{
    "tabWidth": 4,
    "printWidth": 120,
    "trailingComma": "none",

    "overrides": [
        {
            "files": ["*.?(m|c)@(js|ts)"],
            "options": {
                "semi": false,
                "trailingComma": "es5",
                "arrowParens": "avoid"
            }
        },
        {
            "files": ["*.md", "*.markdown", "*.json?(c|5)"],
            "options": {
                "printWidth": 80
            }
        },
        {
            "files": ["*.htm?(l)"],
            "options": {
                "htmlWhitespaceSensitivity": "ignore",
                "bracketSameLine": true
            }
        },
        {
            "files": ["*.y?(a)ml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
