body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    cursor: default;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: clamp(3rem, 15vw, 10rem);
    font-variant: small-caps;
    letter-spacing: 0.05em;
    user-select: none;
    animation: rgbColors 35s linear infinite;
}

@keyframes rgbColors {
    0% {
        color: rgb(255, 0, 0);
    }
    16% {
        color: rgb(255, 255, 0);
    }
    33% {
        color: rgb(0, 255, 0);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66% {
        color: rgb(0, 0, 255);
    }
    83% {
        color: rgb(255, 0, 255);
    }
    100% {
        color: rgb(255, 0, 0);
    }
}
